header
{
  padding: 10px 8%;
  background-color: var(--black);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

h4
{
  margin: 0px;
}

.link
{
  width: 40%;
}


ul
{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

li
{
  list-style: none;
}

.nav-link.active
{
  font-weight: bold;
}

.c-btn
{
  width: auto !important;
  height: auto !important;
  padding: 0px !important;
  border: 0px !important;
  outline: 0px !important;
}

 i
 {
  font-size: 25px;
  display: none;
 }

 @media (min-width: 601px) and (max-width: 1000px)
{
  .link
  {
    width: 65%;
  }
}


@media (max-width: 600px) {
  .link,.action > button
  {
    display: none !important;
  }

  .action > i
  {
    display: block;
  }
}
