<header>
  <nav class="navbar">
    <div class="title">
      <h3>Px</h3>
    </div>

    <div class="link">
      <ul class="links">
        <li class="ilink">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="ilink">
          <a class="nav-link" href="#">Expertise</a>
        </li>
        <li class="ilink">
          <a class="nav-link" href="#">About me</a>
        </li>
        <li class="ilink">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="ilink">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>

    <div class="action">
      <button type="button" class="btn btn-success c-btn"><i class="bx bx-briefcase-alt-2" ></i>&nbsp;Hire Me</button>
    </div>
  </nav>
</header>
