<header>
  <nav class="navbar">
    <div class="title">
      <h3>Px</h3>
    </div>

    <div class="link">
      <ul class="links">
        <li class="ilink">
          <a class="nav-link active" href="#" (click)="sectionReval('home')">Home</a>
        </li>
        <li class="ilink">
          <a class="nav-link" href="#" (click)="sectionReval('skills')">Expertise</a>
        </li>
        <li class="ilink">
          <a class="nav-link" href="#" (click)="sectionReval('about')">About me</a>
        </li>
        <li class="ilink">
          <a class="nav-link" href="#" (click)="sectionReval('project')">Projects</a>
        </li>
        <li class="ilink">
          <a class="nav-link" href="#" (click)="sectionReval('contact')">Contact</a>
        </li>
      </ul>
    </div>

    <div class="action">
      <button type="button" class="btn btn-success c-btn"><img src="../../../../assets/default-green.png" alt="Buy Me A Coffee" style="height: 40px !important;width: 140px !important;" ></button>


      <i class='bx bx-menu'></i>
    </div>
  </nav>
</header>
