<footer>
  <div class="title">
    <h2>Parvathy Mohan</h2>
  </div>

  <div class="content">
    <div class="row">
      <!-- Social Icons Column -->
      <div class="col-md-2 col-sm-12 col-xs-12  ">
        <ul>
          <li>
            <a href="http://www.instagram.com/parvathy.paru_z" target="_blank" class="nav-link"><i class="bx bxl-instagram"></i></a>
          </li>
          <li>
            <a href="http://www.github.com/parvathym016" target="_blank" class="nav-link"><i class="bx bxl-github"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/parvathy-mohan" target="_blank" class="nav-link"><i class="bx bxl-linkedin-square"></i></a>
          </li>
          <li>
            <a href="#" class="nav-link"><i class="bx bxl-behance"></i></a>
          </li>
        </ul>
      </div>

      <!-- Navigation Links Column -->
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="link">
          <ul class="links">
            <li class="ilink">
              <a class="nav-link active" href="#" (click)="sectionReval('home')">Home</a>
            </li>
            <li class="ilink">
              <a class="nav-link" href="#" (click)="sectionReval('skills')">Expertise</a>
            </li>
            <li class="ilink">
              <a class="nav-link" href="#" (click)="sectionReval('about')">About me</a>
            </li>
            <li class="ilink">
              <a class="nav-link" href="#" (click)="sectionReval('project')">Projects</a>
            </li>
            <li class="ilink">
              <a class="nav-link" href="#" (click)="sectionReval('contact')">Contact</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Email Subscription Column -->
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="email">
          <input type="email" class="form-control c-txt" placeholder="Join my mailing list" />
          <button class="btn btn-outline-light c-btn">
            <i class="bx bxs-envelope"></i>
          </button>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="hrr"></div>

    <div class="footnote">
      <br />
      Developed with &hearts; by <a style="display: inline;" class="nav-link" target="_blank" href="http://www.github.com/itzmeabrew"><b>itzmeabrew</b></a>
      <br>
      All rights reserved &copy;
    </div>
  </div>

  <br />
</footer>
