<section>
  <div class="title">
    <h2>My Skills</h2>
  </div>



  <div class="skills">

    <div class="progress">
      <span class="skill"> <i class= "bx bxl-java " ></i> Core Java <i class="val">85%</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" style="width: 85%;"></div>
      </div>
    </div>

    <div class="progress">
      <span class="skill"> <i class= "bx bxl-spring-boot " ></i> Springboot <i class="val">75%</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" style="width: 75%;"></div>
      </div>
    </div>

    <div class="progress">
      <span class="skill"> <i class= "bx bx-code-curly " ></i> C# <i class="val">65%</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" style="width: 65%;"></div>
      </div>
    </div>

    <div class="progress">
      <span class="skill"> <i class= "bx bx-code-curly " ></i> .Net Core <i class="val">60%</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" style="width: 60%;"></div>
      </div>
    </div>

    <div class="progress">
      <span class="skill"> <i class= "bx bxs-data " ></i> My SQL/MS-SQL <i class="val">70%</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" style="width: 70%;"></div>
      </div>
    </div>

    <div class="progress">
      <span class="skill"> <i class= "bx bxl-react "></i> React <i class="val">40%</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" style="width: 40%;"></div>
      </div>
    </div>

    <div class="progress">
      <span class="skill"> <i class="bx bxl-graphql" ></i> GraphQL <i class="val">40  %</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" style="width: 40%;"></div>
      </div>
    </div>

    <div class="progress">
      <span class="skill"> <i class="bx bxl-windows" ></i>WPF <i class="val">30  %</i></span>
      <div class="progress-bar-wrap">
        <div class="progress-bar" style="width: 30%;"></div>
      </div>
    </div>

  </div>
</section>
