<section>
  <div class="title">
    <h2>My Projects</h2>
  </div>

  <br>
  <br>

  <div class="content">

    <div class="card">
      <div class="img">
        <img src="../../../../assets/dummy.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3>Levias Primary & Secondary IDMS </h3>
        <p class="card-text">
          Designed and developed two comprehensive ID management systems: Levias Primary for business and business user
          administration, and Levias Secondary for LBI account holders. Implemented REST APIs for user-centric
          functionalities, such as
          account creation, login, and profile management, ensuring a secure and streamlined experience. Additionally,
          crafted
          administrative APIs for efficient control over business entities and services. Successfully integrated
          cross-service access for LBI
          account holders, promoting a unified experience across diverse platforms. Contributed to system scalability
          and adaptability to
          evolving organizational needs.
        </p>
      </div>
      <div class="action">
        <button class="btn btn-success c-btn" type="submit">View project &nbsp;&nbsp;<i
            class="bx bx-window-open"></i></button>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../../assets/dummy.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3>Levica</h3>
        <p class="card-text">
          This system aims to streamline transactions between registered business users and customers. Users may apply
          for different
          contracts and asset transfers (secondary transactions) by utilizing security tokens that are linked with
          overseas financial systems.
          The system enables users to execute payments via electronic currency using their smartphones. Transactions can
          be settled
          through bank transfers or ETH coins. After completion, users receive Levica points, which they can redeem for
          cash.
        </p>
      </div>
      <div class="action">
        <button class="btn btn-success c-btn" type="submit">View project &nbsp;&nbsp;<i
            class="bx bx-window-open"></i></button>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../../assets/dummy.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3>Quick CROSS Web</h3>
        <p class="card-text">
          Quick CROSS Web is a comprehensive application intended to edit, compile, and organize questionnaire data,
          primarily collected
          through Macromill. The data is then assembled into a report that end-users can utilize for various purposes,
          such as presentations
          or conferences. Additionally, the system functions as an in-house application to generate aggregates requested
          by the end users.
        </p>
      </div>
      <div class="action">
        <button class="btn btn-success   c-btn" type="submit">View project &nbsp;&nbsp;<i
            class="bx bx-window-open"></i></button>
      </div>
    </div>

  </div>
</section>