<section>
  <div class="title">
    <h2>My Projects</h2>
  </div>

  <br>
  <br>

  <div class="content">

    <div class="card">
      <div class="img">
        <img src="../../../../assets/dummy.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3>Project n</h3>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum esse distinctio perspiciatis laudantium ipsam soluta, iste accusamus dicta, amet dolorem quibusdam porro temporibus ad quam nemo est? Fuga, ullam.</p>
      </div>
      <div class="action">
        <button class="btn btn-success c-btn" type="submit">View project &nbsp;&nbsp;<i class="bx bx-window-open"></i></button>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../../assets/dummy.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3>Project n</h3>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum esse distinctio perspiciatis laudantium ipsam soluta, iste accusamus dicta, amet dolorem quibusdam porro temporibus ad quam nemo est? Fuga, ullam.</p>
      </div>
      <div class="action">
        <button class="btn btn-success c-btn" type="submit">View project &nbsp;&nbsp;<i class="bx bx-window-open"></i></button>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../../assets/dummy.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3>Project n</h3>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum esse distinctio perspiciatis laudantium ipsam soluta, iste accusamus dicta, amet dolorem quibusdam porro temporibus ad quam nemo est? Fuga, ullam.</p>
      </div>
      <div class="action">
        <button class="btn btn-success   c-btn" type="submit">View project &nbsp;&nbsp;<i class="bx bx-window-open"></i></button>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../../assets/dummy.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h3>Project n</h3>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum esse distinctio perspiciatis laudantium ipsam soluta, iste accusamus dicta, amet dolorem quibusdam porro temporibus ad quam nemo est? Fuga, ullam.</p>
      </div>
      <div class="action">
        <button class="btn btn-success c-btn" type="submit">View project &nbsp;&nbsp;<i class="bx bx-window-open"></i></button>
      </div>
    </div>

  </div>
</section>
