<section class="hero">
  <div class="section-content">
    <div class="row">
      <div class="col" appParellax [inversion]="false"  [opacity]="1 " [movement]="0.003">
        <div class="title">
          <div class="content">
            <p class="a">
              Hey its me <span class="name animate-charcter">Joshua</span>
            </p>
            <br />
            <p class="b">
              A <b>software enginner</b> and <b>product desginer</b> from
              seattle
            </p>
          </div>

          <br />

          <div class="action">
            <button class="btn btn-dark c-btn" type="submit">Talk to me &nbsp;&nbsp;<i class="bx bx-right-arrow-alt" ></i></button>
          </div>

          <br />
          <br />
          <br />
        </div>
      </div>

      <div class="col photo" appParellax [inversion]="false"  [opacity]="1 " [movement]="0.001">
        <div class="card photo-card">
          <div class="card-body">
            <img src="../../../../assets/t1.jpeg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
