<section class="hero">
  <div class="section-content">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-12" appParellax [inversion]="false"  [opacity]="1 " [movement]="0.003">
        <div class="title">
          <div class="content">
            <p class="a">
              Hi,I am <span class="name animate-charcter">Parvathy</span>
            </p>
            <br />
            <p class="b">
              A <b>software enginner</b> and <b>product desginer</b> from
              Kochi
            </p>
          </div>

          <br />

          <div class="action">
            <button class="btn btn-success c-btn" type="submit">Get In Touch &nbsp;&nbsp;<i class="bx bx-right-arrow-alt" ></i></button>
          </div>

          <br />
          <br />
          <br />
        </div>
      </div>

      <div class="col-md-12 col-lg-6 col-12 photo" appParellax [inversion]="false"  [opacity]="1 " [movement]="0.001">
        <div class="card photo-card">
          <div class="card-body">
            <img src="../../../../assets/img2.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
