<section>

  <br>
  <br>

  <div class="content">

    <div class="row">

      <div class="col-4">
        <div class="img">
          <img src="../../../../assets/img2.2.jpg" alt="">
        </div>
      </div>

      <div class="col-8">
        <div class="title">
          <h2>About Me</h2>
         </div>
         <br>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quidem voluptate distinctio culpa maxime aliquam dolorem hic itaque saepe ipsam fuga quam, deserunt nam nemo, non numquam natus. Expedita, ad?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui doloremque iste neque amet eaque, quidem nisi sapiente veritatis quia accusantium, dolores alias doloribus laudantium saepe magni minus, quos placeat tempora?

          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quidem voluptate distinctio culpa maxime aliquam dolorem hic itaque saepe ipsam fuga quam, deserunt nam nemo, non numquam natus. Expedita, ad?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui doloremque iste neque amet eaque, quidem nisi sapiente veritatis quia accusantium, dolores alias doloribus laudantium saepe magni minus, quos placeat tempora?

          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt quidem voluptate distinctio culpa maxime aliquam dolorem hic itaque saepe ipsam fuga quam, deserunt nam nemo, non numquam natus. Expedita, ad?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui doloremque iste neque amet eaque, quidem nisi sapiente veritatis quia accusantium, dolores alias doloribus laudantium saepe magni minus, quos placeat tempora?
        </p>
      </div>

    </div>
  </div>
</section>
