<section>
  <br />
  <br />

  <div class="content">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="img">
          <img src="../../../../assets/img2.2.png" alt="" />
        </div>
      </div>

      <div class="col-lg-8 col-12">
        <div class="title">
          <h2>About Me</h2>
        </div>
        <br />
        <p>
          Hello there! I'm a passionate software engineer with 2.5 years of
          experience, specializing in the dynamic world of backend technologies.
          My expertise spans across Java Spring Boot, .NET, and a knack for
          managing diverse database systems like MySQL, PostgreSQL, and
          Microsoft SQL. What sets me apart? I'm not just about what I know, but
          how quickly I can learn and adapt. In this ever-evolving tech
          landscape, staying ahead of the curve is my mantra. Whether it's
          tackling complex coding challenges or seamlessly integrating new
          tools, I thrive on the excitement of constant growth. Join me on this
          exhilarating journey of innovation and problem-solving. Together,
          we'll turn ideas into reality and pave the way for a smarter, more
          connected future.
        </p>
        <div class="action">
          <button class="btn btn-success btn-sm c-btn" type="submit">See my Resume &nbsp;&nbsp;<i class='bx bxs-file-doc' ></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
