<section>
  <div class="title">
    <h2>My Expertise</h2>
  </div>

  <br />
  <br />

  <div class="content">
    <div class="card">
      <div class="card-body">
        <div class="icon">
          <i class="bx bxl-internet-explorer"></i>
        </div>
        <div class="card-title">
          <h4>Web Development</h4>
        </div>
        <p>
          As a web developer, I specialize in the unseen magic that powers your
          favorite applications. My world revolves around crafting robust
          server-side solutions, optimizing databases, and ensuring the smooth
          flow of data behind the scenes. I thrive on the thrill of tackling
          complex challenges and turning them into seamless, reliable systems.
          Whether it's building APIs, optimizing performance, or safeguarding
          data, I'm the wizard behind the digital curtain, making sure
          everything runs like clockwork.
        </p>
      </div>
      <br />
    </div>

    <div class="card">
      <div class="card-body">
        <div class="icon">
          <i class="bx bxs-data"></i>
        </div>
        <div class="card-title">
          <h4>Database Design</h4>
        </div>
        <p>
          As a database designer, I'm the architect of organized information. I
          excel in creating efficient, structured data ecosystems that empower
          businesses to store, retrieve, and analyze critical information
          seamlessly. My passion lies in designing databases that are not just
          repositories but strategic assets, fueling data-driven
          decision-making. From schema design to performance tuning, I ensure
          data flows smoothly, unlocking insights and driving innovation.
        </p>
      </div>
      <br />
    </div>

    <div class="card">
      <div class="card-body">
        <div class="icon">
          <i class="bx bxl-graphql"></i>
        </div>
        <div class="card-title">
          <h4>API Development</h4>
        </div>
        <p>
          In the world of software, APIs (Application Programming Interfaces)
          are my playground. As an API developer, I'm dedicated to creating the
          bridges that enable different software systems to communicate
          effortlessly. My expertise lies in designing, building, and
          maintaining these crucial connectors, ensuring smooth data exchange
          and functionality between applications. From RESTful web services to
          GraphQL interfaces, I thrive on crafting APIs that empower innovation,
          foster integration, and drive the digital world forward.
        </p>
      </div>
      <br />
    </div>

    <div class="card">
      <div class="card-body">
        <div class="icon">
          <i class="bx bxs-server" ></i>
        </div>
        <div class="card-title">
          <h4>Microservices</h4>
        </div>
        <p>
          As a Microservices developer, I'm dedicated to breaking down complex
          software systems into nimble, interconnected components. My focus is
          on building lightweight, independently deployable services that
          enhance scalability and maintainability. I relish the intricacies of
          designing microservices architectures, orchestrating their
          interactions, and ensuring seamless communication. With a keen eye for
          modularity and a passion for distributed systems, I'm here to create
          agile solutions that drive innovation in the world of software
          development.
        </p>
      </div>
      <br />
    </div>
  </div>
</section>
