section
{
  padding: 0px 10px;
}

.title
{
  width: 100%;
  text-align: center;
}

.title h2
{
  font-size: 50px;
}

.content
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.card
{
  width: 400px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-top: 10px none;
  border-bottom: 3px solid var(--cbr);
  background-color: var(--cbg);
}

.flx
{
  display: flex;
  justify-content: space-between;
}

i
{
  font-size: 45px;
}

p
{
  text-align: justify;
  text-justify: inter-word;
}

.icon
{
  padding: 10px;
}
