<section>

  <div class="title">
   <h2>My Expertise</h2>
  </div>

  <br>
  <br>

  <div class="content">

    <div class="card">
      <div class="card-body">
        <div class="icon">
          <i class="bx bxl-internet-explorer"></i>
        </div>
        <div class="card-title">
          <h4>Web Development</h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing eltempora? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores iusto similique fuga temporibus ullam repellat numquam fugiat illum sunt error, non itaque ex ab ad id rem excepturi officiis.
        </p>
      </div>
      <br>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="icon">
          <i class="bx bxl-internet-explorer"></i>
        </div>
        <div class="card-title">
          <h4>Web Development</h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing eltempora? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores iusto similique fuga temporibus ullam repellat numquam fugiat illum sunt error, non itaque ex ab ad id rem excepturi officiis.
        </p>
      </div>
      <br>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="icon">
          <i class="bx bxl-internet-explorer"></i>
        </div>
        <div class="card-title">
          <h4>Web Development</h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing eltempora? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores iusto similique fuga temporibus ullam repellat numquam fugiat illum sunt error, non itaque ex ab ad id rem excepturi officiis.
        </p>
      </div>
      <br>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="icon">
          <i class="bx bxl-internet-explorer"></i>
        </div>
        <div class="card-title">
          <h4>Web Development</h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing eltempora? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores iusto similique fuga temporibus ullam repellat numquam fugiat illum sunt error, non itaque ex ab ad id rem excepturi officiis.
        </p>
      </div>
      <br>
    </div>
  </div>
</section>
