<section>

  <div class="title">
   <h2>Contact Me</h2>
   <small class="text-success">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet numquam eaque quam quod ipsam qui error quia rem.</small>
  </div>

  <br>
  <br>

  <div class="content">
    <form class="row row-cols-lg-auto g-3 align-items-center">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" placeholder="First name" class="form-control c-txt">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" placeholder="Last name" class="form-control c-txt">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" placeholder="info" class="form-control c-txt">
        </div>
      </div>

      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" placeholder="dgx" class="form-control c-txt">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="input-group">
          <textarea type="text" rows="10" placeholder="Type your ideas here" style="height: auto;" class="form-control c-txt"></textarea>
        </div>
      </div>


      <div class="col-lg-12">
        <br>
        <button class="btn btn-success c-btn" type="submit">Send &nbsp;&nbsp;<i class="bx bx-send" ></i></button>
      </div>
    </form>



  </div>
</section>
